google-map{
  height: 450px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

input[type='text']:focus{
  border-color: #FD2626
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button {
  background-color: #FD2626;
  border-color: #FD2626;
}

.button.button-outline{
  color: #FD2626
}

.row.days{
  margin-top: 10px;
}
